<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="xyz.arpith.blearduino">

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- STT, TTS 사용시 필요한 선언 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name="com.example.viva_sample.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Viva_sample">
        <activity android:name="com.example.viva_sample.stt.SttActivity"></activity>
        <activity
            android:name="com.example.viva_sample.BLE.bluetoothlegatt.DeviceControlActivity"
            android:theme="@android:style/Theme.Material.Light.DarkActionBar" />
        <activity android:name="com.example.viva_sample.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:theme="@android:style/Theme.Material.Light.DarkActionBar"
            android:name="com.example.viva_sample.BLE.bluetoothlegatt.DeviceScanActivity" />

        <service
            android:name="com.example.viva_sample.BLE.bluetoothlegatt.BluetoothLeService"
            android:enabled="true" />
    </application>

</manifest>