<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.viva_sample">
    <!-- <queries> -->
    <!-- <intent> -->
    <!-- <action android:name="android.speech.RecognitionService" /> -->
    <!-- </intent> -->
    <!-- </queries> -->
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Viva_sample">
        <activity android:name=".lottie.LottieActivity"></activity>
        <activity android:name=".mqtt.MqttActivity" />
        <activity android:name=".room.RoomActivity" />

        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="rtd3s7qb00" />

        <activity android:name=".naver.NaverMapActivity" />
        <activity android:name=".firestore.FireStoreActivity" />
        <activity android:name=".tts.TtsActivity" />
        <activity android:name=".stt.SttActivity" />
        <activity
            android:name=".ble.DeviceControlActivity"
            android:theme="@android:style/Theme.Material.Light.DarkActionBar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ble.DeviceScanActivity"
            android:theme="@android:style/Theme.Material.Light.DarkActionBar" />

        <service
            android:name=".ble.BluetoothLeService"
            android:enabled="true" />
        <service android:name="org.eclipse.paho.android.service.MqttService"></service>
    </application>

</manifest>